[variables]
NIXPACKS_NODE_VERSION = "20"

[phases.setup]
aptPkgs = [
  "build-essential",
  "pkg-config",
  "libcairo2-dev",
  "libjpeg62-turbo-dev",
  "libpango1.0-dev",
  "libgif-dev",
  "librsvg2-dev",
  "libpixman-1-dev",
]
